.courses {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
    }
    .course {
      background: #1e2a47;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 2px 4px 8px rgba(255, 255, 255, 0.3);

    }
    .course:hover{
      background-color: rgb(71, 102, 156);
      transition: 0.5s;
    }
    .course h3 {
      margin-top: 0;
      color: #4cafef;
    }
    @media (max-width: 480px){
      .course h3{
        font-size: 1em;
      }
      .course p{
        font-size: 12px;
      }
    }

   