/* Hero Section */
.hero {
    background-image: url(/sass/components/components-home/img/bg.png);
    background-size: cover;
    width: 94%;
    text-align: center;
    padding: 5rem 2rem;
}

.hero h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-bottom: 1.8rem;
}

.btn {
    font-family: 'Times New Roman', Times, serif;
    background: #58a6ff;
    color: #fff;
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 2px 2px 4px rgb(236, 237, 237);
}

.btn:hover {
  background: #1f6feb;
}

/* Content Section */
.content {
  padding: 3rem;
  max-width: 800px;
  margin: auto;
}
@media (max-width: 480px){
  .hero h2{
    font-size: 2.5rem;
  }
  .hero p{
    font-size: 15px;
  }

}
